.btn

	font-family 'GothamPro'
	font-weight 600
	font-size 21.35px

	text-transform uppercase

	padding 22px 39px

	letter-spacing -.5px

	border-radius 9px
	
	text-decoration none

	&-lg
		font-size 31.13px
		
	&-sm
		padding 12px 17px

	&-primary
		color #000

		background-color #e27f1e

		border-color #e27f1e

		&:hover, &:active, &:focus, &:hover:active, &:hover:focus
			color #fff

			background-color #e27f1e

			border-color #e27f1e

			&.text-white
				color #000

	&-default
		color #fff

		background-color #000

		border-color #000

		&:hover, &:active, &:focus, &:hover:active, &:hover:focus
			color #e27f1e

			background-color #000

			border-color #000


