.input-group
	.form-control
		&:first-child
			border-bottom-right-radius 5px
			border-top-right-radius 5px
	&-btn
		&-dialog
			padding-left 20px

			&:last-child > .btn
				border-top-left-radius 9px
				border-bottom-left-radius 9px
