.navbar

	margin-bottom 71px

	&-brand
		height auto
		line-height 1
	&-nav
		margin-top 8px
		margin-left 22px

		> li
			padding 15px 25px
			> a
				font-size 21.35px
				letter-spacing -0.5px
				color: #fff

				padding 0
				
				text-decoration none
				&:hover, &:active, &:focus, &:hover:active, &:hover:focus
					background-color transparent
