.nav-pills
	> li > a
		text-decoration none
	&-default
		background #fff
		
		border 1px solid #bebebe
		
		border-radius 5px
		
		> li
			> a
				border none
				
				border-radius 0
				
				margin 0
				
				padding 12px 20px 15px

				font-weight 700
				
				color #131313
				&:hover, &:active, &:focus, &:hover:active, &:hover:focus
					background transparent
					
					border none

					color #E27F1E

			&.active > a
				background transparent
				color #E27F1E
				
				text-decoration: underline
				&:hover, &:active, &:focus, &:hover:active, &:hover:focus
					background transparent
					color #E27F1E

	&-justify
		justify()
		&:before, &:after
			content none
			
			display none
		> li
			display inline-block
			
			vertical-align middle
			
			text-align center
			
			float none