a
	text-decoration underline
	color black
	&:hover
		color #e27f1e

.text
	&-regular
		font-weight: 400
	&-semibold
		font-weight 600
	&-bold
		font-weight 700


	&-primary
		color #e27f1e
	&-white
		color #fff
	&-black
		color #000

	&-size-lg
		font-size 31.13px

h2, .h2
	font-family 'GothamPro', serif
	font-weight 600
	font-size 31.13px

	text-transform uppercase

.mtop
	margin-top 67px

.mbottom
	margin-bottom 67px
