.grey-girl
	display block

	padding 40px 0 76px

	&__header
		font-size 55.98px

		line-height 65px

		letter-spacing -.5px

		white-space nowrap

		margin-bottom 52px

	&__description
		width 710px

		margin-bottom 45px

		letter-spacing -.8px

		line-height 38px

	&__skew
		width 565px

		margin-bottom 35px
