include /blocks/skew/skew

mixin grey-girl()
	+b.SECTION.grey-girl: .container
		+e.H2.header.text-primary <span class="text-regular">У нас чп:</span><br>Готовимся к распродаже года!
		+e.P.description.text-size-lg.text-semibold
			| Толпа сшибает с ног, пока рука тянется за очередным гаджетом, парой кроссовок, сумкой или футболкой. Восьмой по счету.
			| <br><span class="text-primary">Это — Черная пятница!</span>
		+e.skew
			+skew.text-white
				| На самом деле на главной распродаже года никто не пострадает. Потому что вы можете заказать брендовые вещи со скидками напрямую в интернет-магазинах США.
		.row: .col-xs-6: p
			| Не придется стоять в очередях или драться за
			| желанную коробку, когда можно совершать
			| покупки из дома. Нужно только выбрать и
			| оплатить — а оформить и отправить покупку в Россию поможем мы.
