.list

	&_big-numbers
		counter-reset counter
	
	&__item
		clearfix()
		
		&_big-numbers
			list-style none
			
			margin-bottom 20px
			&:last-child
				margin-bottom 0
			&:before
				counter-increment counter
				
				content counter(counter)
				
				display inline-block
				
				font-family 'GothamPro'
				font-size 73.63px

				color #E27F1E
				
				float left
				
				width 60px
				
				text-align right

				margin-right 55px
				
		&_icons
			list-style none
			
			margin-bottom 40px
	
	&__item-icon
		display inline-block
		
		float left
		
		width 70px
		
		margin-top -20px
		margin-right 25px
		
	&__item-wrap
		padding-top 30px
		
		display table
		
	&__item-header
		letter-spacing .5px
		&_icons
			line-height 27px

			margin-bottom 30px
		
		margin-bottom 5px
		
	&__item-text
		letter-spacing -.5px