mixin get-now()
	+b.get-now&attributes(attributes)
		+e.wrap-flag: +e.flag
		.container
			+e.H2.header.text-center
				| Получите прямо сейчас личный адрес в США
			+e.P.text.text-center
				| Для быстрой и надежной доставки покупок в Россию!
			+e.button: .row: .col-xs-6.col-xs-offset-3
				a.btn.btn-primary.btn-block.btn-lg.text-white Получить адрес в США
