.get-now
	position relative
	display block

	&__wrap-flag
		position absolute
		
		top auto
		right auto
		left 0
		bottom 0
		
		width 65%
		max-width $flag_width

	&__flag
		sprite($flag)
		
		float right

	&__header
		margin-top 50px
		margin-bottom 30px
		
	&__text
		margin-bottom 50px

	&__button
		margin-bottom 70px