.delivery-from-stores
	position relative
	display block

	&__wrap-card
		position absolute
		
		top 0
		right auto
		left 0
		bottom auto
		
		width 40%

	&__card
		sprite($card)
		
		float right

	&__button
		margin-top 60px
		margin-bottom 60px
		