mixin delivery-from-stores()
	+b.delivery-from-stores&attributes(attributes)
		+e.wrap-card: +e.card
		.container
			+e.button: .row: .col-xs-6.col-xs-offset-3
				a.btn.btn-primary.btn-block.btn-lg.text-white Доставка из магазинов<br>США от $26
