include /blocks/list/list

mixin how-buy()
	+b.how-buy&attributes(attributes)
		+e.wrap-hand: +e.hand
		+e.wrapper: .container
			+e.H2.header.text-center
				| Черная пятница в США:<br><span class="text-primary">как покупать</span>
			+e.list: +list.OL._big-numbers
				+e.item._big-numbers: +e.item-wrap
					+e.item-header.text-bold.text-uppercase
						| Зарегистрируйтесь в Бандерольке
					+e.item-text
						| Бандеролька — это посредник между покупателями и
						| продавцами. Магазины в США не отправляют товары напрямую в Россию, поэтому мы
						| помогаем делать покупки за рубежом идоставляем посылки прямо до вашего дома!

				+e.item._big-numbers: +e.item-wrap
					+e.item-header.text-bold.text-uppercase
						| Отправляйтесь в <a href="#">магазины</a>
					+e.item-text
						| Выбирайте, сравнивайте цены и приступайте к покупкам в Черную пятницу. 24 ноября ловите самые большие скидки в году!