.how-buy
	display block
	
	position relative

	&__wrapper
		position relative
		z-index 1

	&__wrap-hand
		position absolute
		
		top auto
		right auto
		left 0
		bottom 0
		
		margin-bottom -160px
		
		width 32%
		max-width $hand_width
		
	&__hand
		sprite($hand)

		float right
		

	&__header
		line-height 40px
		
		margin-top 50px
		margin-bottom 60px

	&__list
		margin-bottom 100px
		margin-left 27%
		
