font-face(nameFont, fileFont, styleFont, weightFont)
	@font-face
		font-family nameFont
		src url('../fonts/'fileFont'/'fileFont'.eot')
		src url('../fonts/'fileFont'/'fileFont'.eot?#iefix') format('embedded-opentype'), url('../fonts/'fileFont'/'fileFont'.woff') format('woff'), url('../fonts/'fileFont'/'fileFont'.ttf') format('truetype')
		font-style styleFont
		font-weight weightFont

font-list = 'GothamPro' 'GothamProLight' normal 300,
			'GothamPro' 'GothamProRegular' normal 400,
			'GothamPro' 'GothamProMedium' normal 500,
			'GothamPro' 'GothamProBold' normal 600,
			'GothamPro' 'GothamProBlack' normal 700,
			'GothamPro' 'GothamProLightItalic' italic 300,
			'GothamPro' 'GothamProItalic' italic 400,
			'GothamPro' 'GothamProMediumItalic' italic 500,
			'GothamPro' 'GothamProBoldItalic' italic 600,
			'GothamPro' 'GothamProBlackItalic' italic 700

for font in font-list
	font-face(font[0], font[1], font[2], font[3])
