include /blocks/area/area
include /blocks/header/header
include /blocks/grey-girl/grey-girl
include /blocks/buy-in-usa/buy-in-usa
include /blocks/what-to-see/what-to-see
include /blocks/item-product/item-product
include /blocks/icons/icons
include /blocks/how-buy/how-buy
include /blocks/purchase-for-you/purchase-for-you
include /blocks/these-discounts/these-discounts

include /blocks/delivery-from-stores/delivery-from-stores
include /blocks/ready-for-friday/ready-for-friday
include /blocks/get-now/get-now
include /blocks/delivery-service/delivery-service
include /blocks/go-shopping/go-shopping
include /blocks/satisfied-customers/satisfied-customers
include /blocks/not-oversleep/not-oversleep
include /blocks/bloggers-love/bloggers-love
include /blocks/about-us-write/about-us-write
include /blocks/how-work/how-work
include /blocks/learn-about-discounts/learn-about-discounts
include /blocks/footer/footer

extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Черная пятница 2017';

block content
	+area._header: +header
	+area._grey_girl: +grey-girl
	+area: .container: .row.mtop.mbottom
		.col-xs-6: a.btn.btn-default.btn-block.btn-lg закажу сам<br>через Бандерольку
		.col-xs-6: a.btn.btn-primary.btn-block.btn-lg.text-white воспользуюсь<br>Помощью при покупке
	+area._icons
		+area._transparent_grey: .container: +buy-in-usa
		+area: .container: +what-to-see
		+area._transparent_grey: +how-buy
	+area._black: +purchase-for-you
	+area: +these-discounts
	+area._icons
		+area._transparent_grey: +delivery-from-stores
		+area: +ready-for-friday
		+area._transparent_grey: +get-now
	+area: +delivery-service бандеролька сервис доставки
	+area._icons._transparent_grey: +go-shopping
	+area: +satisfied-customers сотни тысяч довольных кликнтов
	+area._icons_orange: +not-oversleep не проспи черную пятницу
	+area: +bloggers-love блогеры любят бандерольку
	+area: +about-us-write о нас пишут
	+area._icons_grey: +how-work как работает бандеролька
	+area: +learn-about-discounts узнайте о скидках первыми!
	+area._grey: +footer настоящие скидки a.k.a футер
