mixin purchase-for-you()
	+b.purchase-for-you&attributes(attributes)
		+e.wrap-pomade: +e.pomade
		+e.wrap-beats: +e.beats
		.container
			+e.H2.header.text-primary.text-center
				| Введите ссылку на товар,<br>и мы совершим покупку за вас!
			+e.form: form: .input-group
				input#email.form-control(type="email")
				span.input-group-btn.input-group-btn-dialog
					button.btn.btn-primary.btn-sm.text-white(type="submit") Оформить доставку
			.row: .col-xs-6.col-xs-offset-3: +e.text.text-center.text-white
				+e.P.text-p
					| Бандеролька оформит для вас заказ — просто
					| пришлите ссылку на товар, который хотите купить.
				+e.P.text-p
					| Наши операторы выкупят вещи, проконтролируют
					| доставку и сообщат, когда покупки будут готовы к
					| отправке.
