.purchase-for-you
	position relative
	display block

	&__wrap-pomade
		position absolute
		
		top auto
		right auto
		left 0
		bottom 0
		
		width 24%
		
		overflow hidden

	&__pomade
		sprite($pomade)
		
		float right
		
		margin-bottom -180px
		
	&__wrap-beats
		position absolute
		
		top auto
		right 0
		left auto
		bottom -110px
		
		overflow hidden
		
		width 29%

	&__overflow-beats
		float right

		overflow hidden
		
		margin-bottom -180px

	&__beats
		sprite($beats)
		
		float left
		
		margin-right -200px

	&__header
		margin-top 60px
		margin-bottom 60px
		
		line-height 36px
		
	&__form
		margin-bottom 60px
	
	&__text
		letter-spacing -.5px
		
		margin-bottom 50px
	&__text-p
		margin-bottom 30px
		&:last-child
			margin-bottom 0
