mixin timer()
	+b.timer&attributes(attributes)
		+e.title До Черной пятницы осталось:
		+e.wrap-dial
			+e.SPAN.number 02
			+e.SPAN.number-separator :
			+e.SPAN.number 02
			+e.SPAN.number-separator :
			+e.SPAN.number 39
			+e.SPAN.number-separator :
			+e.SPAN.number 39
