.timer
	display block

	text-align center

	&__title
		color #fff

		font-size 21.35px

		letter-spacing -.5px

		margin-bottom 3px

	&__wrap-dial
		font-family 'Gotham Pro', serif;
		font-size 31.13px
		font-weight 600

		color #e27f1e

	&__number
		display inline-block

		border 1px solid #e27f1e

		line-height 1

		padding 0 3px 2px

		border-radius 3px
