.item-product
	display inline-block
	
	margin-top 35px
	margin-bottom 35px

	&__image
		display inline-block
		
		margin-bottom 15px

		height 265px
	&__body
		display inline-block
		
		width 210px

	&__title
		margin-bottom 12px

		padding-bottom 7px
		
		letter-spacing -.5px
		
		height 65px
		
		line-height 28px
		
		border-bottom 1px solid #dedede
		
		white-space nowrap
		
	&__price
		color #bebebe
		
		height 30px

		clearfix()
		
	&__price-rus
		float left
		
	&__price-en
		float right
		
	&__icon
		display inline-block
		
		margin-right 5px