.area
	display block

	min-height 200px

	&_header
		background-color #1b1b1b
		background-image url($header_bg_image)
		background-repeat no-repeat
		background-position top center
		background-size cover

	&_grey_girl
		background-color #f1edf0
		background-image url($gray_girl_bg_image)
		background-repeat no-repeat
		background-position top center
		background-size cover

	&_white
		background-color #fff

	&_black
		background-color #232323
		background-image url($dark_bg_image)
		background-repeat no-repeat
		background-position center
		background-size cover

	&_grey
		background-color grey

	&_icons
		background-color transparent
		background-image url($icons_bg_image)
		background-repeat repeat
		background-position top left

		&_grey
			background-color gray

		&_orange
			background-color orange

	&_transparent_grey
		background-color rgba(0, 0, 0, .08)
