.header
	display block

	padding 86px 0 121px

	&__wrap-name
		position relative

		margin-bottom 26px

	&__wrap-year
		padding 0 15px

		display inline-block

		transform skewX(-15deg)

		border-radius 0 10px 0 0

		background-color #e27f1e

		position absolute
		top 50px
		left 509px

		height 43px

	&__year
		font-family 'GothamPro'
		font-size 41.42px
		font-weight 700
		font-style italic
		color #272727

		line-height 37px

		letter-spacing -.5px

		transform skewX(15deg)

	&__name
		width 640px
		height 219.197px

		fill #fff

	&__description
		letter-spacing -.5px

		font-size 21.35px

		color #fff

		margin-bottom 45px

	&__timer
		margin-top 19px
		margin-right -187px

		float right
