include /blocks/logo/logo
include /blocks/icon/icon
include /blocks/timer/timer

mixin header()
	+b.header&attributes(attributes)
		nav.navbar: .container
			.navbar-header
				a.navbar-brand(href="#"): +logo
			ul.nav.navbar-nav
				li: a(href="#") Черная пятница
				li: a(href="#"): span.text-semibold Что купить?
				li: a(href="#") Получить адрес
			+e.timer: +timer
		.container
			+e.wrap-name
				+e.wrap-year: +e.year 2017
				+icon('headerName', true).header__name
			+e.description
				| Скидки в <span class="text-primary">50%</span>, <span class="text-primary">70%</span> и даже в <span class="text-primary">90%</span> во всех магазинах!<br>
				| 24 ноября — с раннего утра и до позднего вечера!

			a.btn.btn-primary(href="#") Узнать о скидках
