mixin these-discounts()
	+b.these-discounts&attributes(attributes): .container
		+e.H2.header.text-center
			| Где искать настоящие скидки<br>
			span.text-primary в Черную пятницу
		+e.P.text.text-center
			| В американских магазинах! Там честно снижают цены и не торгуют подделками!
		+e.UL.nav.nav.nav-pills.nav-pills-default.nav-pills-justify
			li.active: a(href="#") Универсальные
			li: a(href="#") Техника
			li: a(href="#") Одежда и обувь
			li: a(href="#") Спорт
			li: a(href="#") Детский мир
			li: a(href="#") Косметика
		+e.shop.text-center
			- var universal_path = "/assets/images/misc/shops/universal/"
			- var universal = getData('shops')['universal']
			for row in universal 
				+e.shop-row: for item in row
					+e.shop-item: img(src=universal_path+item.image)
