.these-discounts
	display block
	
	&__header
		margin-top 110px
		margin-bottom 30px
		
		line-height 38px
		
	&__text
		margin-bottom 50px
		
		letter-spacing -.5px

	&__nav
		margin-bottom 80px
		
	&__shop
		margin-bottom 160px

	&__shop-row
		justify()
		
		margin-bottom 50px
		&:before, &:after
			content none
			
			display none

	&__shop-item
			display inline-block
			
			vertical-align middle
			
			text-align center
			
			float none
			
