mixin buy-in-usa()
	+b.buy-in-usa&attributes(attributes)
		+e.H2.header.text-center Почему стоит покупать в США, а не в России
		+e.row.row
			+e.col-left.text-right: span.text-primary.h2 Гораздо дешевле
			+e.col-right Бренды действительно дают скидку в <span class="text-semibold">50%, 70%, 90%</span> от первоначальной цены (которая и так меньше, чем в России). У нас та же вещь будет стоить гораздо дороже: из-за налогов, пошлин, транспортных расходов.

		+e.row.row
			+e.col-left.text-right: span.text-primary.h2 Выбор больше
			+e.col-right То, что выкидывают на распродажи наши магазины, не идет ни в какое сравнение с выбором в Штатах. На российском рынке не представлена <span class="text-semibold">даже половина</span> брендов одежды, техники — да чего угодно.

		+e.row.row
			+e.col-left.text-right: span.text-primary.h2 И никаких подделок
			+e.col-right C Бандеролькой вы покупаете напрямую у ваших любимых брендов — в <u>фирменных</u> магазинах точно не встретишь контрафакт.
