.buy-in-usa
	display block

	&__header
		margin-top 60px
		margin-bottom 70px
		
	&__row
		margin-bottom 60px

	&__col-left,
	&__col-right
		float left
		
		letter-spacing -.5px

	&__col-left
		width 200px
		
		margin-right 80px
	&__col-right
		width 830px