mixin what-to-see()
	+b.what-to-see&attributes(attributes)
		+e.H2.header.text-center К чему присмотреться в Черную пятницу
		+e.UL.nav.nav.nav-pills.nav-pills-default.nav-pills-justify
			li.active: a(href="#") Гаджеты
			li: a(href="#") Одежда
			li: a(href="#") Аксессуары
			li: a(href="#") Косметика
			li: a(href="#") Игрушки
			li: a(href="#") Детская одежда

		+e.block.text-center
			- var gadget_path = "/assets/images/misc/products/gadgets/"
			- var gadgets = getData('products')['gadgets']
			.row: for row in gadgets 
				for item in row
					.col-xs-4: +item-product
						+e.image: img(src=gadget_path+item.image)
						+e.body
							+e.title!= item.name
								.text-primary= item.price.diff
							+e.price
								+e.price-rus.text-left
									+e.icon: +icon('rus-icon', true).icons.icons_flag
									= item.price.rus
								+e.price-en.text-right
									+e.icon: +icon('en-icon', true).icons.icons_flag
									= item.price.en

		+e.text.text-center Актуальные скидки Black Friday в Америке — на странице Бандерольки <a href="#">ВКонтакте</a>
