.what-to-see
	display block
	
	&__header
		margin-top 80px
		margin-bottom 65px
		
	&__nav
		margin-top 65px
		margin-bottom 30px

	&__block
		background-color #fff

		border 1px solid #bebebe

		border-radius 5px
		
		margin-bottom 60px
		
		padding-bottom 20px
		
	&__text
		margin-top 60px
		margin-bottom 60px
		
		letter-spacing -.5px