mixin go-shopping()
	+b.go-shopping&attributes(attributes): .container
		+e.H2.header.text-center.text-primary
			| Отправляйтесь за покупками в США
		+e.P.text.text-center
			| Жители России и еще 25 стран уже оценили выгоды шопинга с Бандеролькой!
		+e.button: .row
			.col-xs-6: a.btn.btn-default.btn-block.btn-lg закажу сам<br>через Бандерольку
			.col-xs-6: a.btn.btn-primary.btn-block.btn-lg.text-white воспользуюсь<br>Помощью при покупке
