include /blocks/list/list
include /blocks/icon/icon

mixin ready-for-friday()
	+b.ready-for-friday&attributes(attributes): .container
		+e.H2.header.text-center
			| Готовимся к черной пятнице
		+e.block: .row
			- var list = getData('ready-for-friday')
			.row: for cell in list 
				.col-xs-6: +list.UL._icons: for item in cell
					+e.LI.item._icons
						+icon(item.icon, true).list__item-icon
						+e.item-wrap
							+e.item-header._icons.text-bold.text-uppercase.text-primary!= item.header
							+e.item-text!= item.text
