.skew
	display block

	transform skewX(-15deg)

	background-color #e27f1e

	padding 53px 76px

	margin-left -75px

	letter-spacing -.5px

	border-radius 20px 0 20px 0
	&__wrap
		transform skewX(15deg)
